*{
    box-sizing: border-box;
    margin: 0;
}

body{
    color: white;
    margin: 0;
}

/*--- scrollbar ---*/

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: black;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(216, 216, 216);
    border-radius: 17px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(185, 185, 185);
}



.fixed {
    position: fixed;
    width: 100%;
    z-index: 20;
}

.titlediv{
    color: black;
    background-color: white;
    letter-spacing: 5px;
    border-bottom: solid black 2px;
    text-align: center;
    margin-bottom: 0;
    padding: 20px;
}


.navbar{
    transform: translateY(0px);
}

.navbar ul{
    background-color: black;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar li{
    float: left;
    width:19.5%;
    margin-left: 0;
}

.navbar li a {
    text-decoration: none;
    padding: 20px 100px;
    color: white;
    display: block;
    text-align: center;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}


a:visited {
    color:white;
}
.navbar-clr:hover a{
    color:rgb(255, 5, 5);
}

.navbar ul:hover {
    cursor: pointer;
}

.navbar-clr:active{
    color: red;
}

/*---responsywnosc---*/

@media screen and (max-width: 1050px) {
    .navbar li {
        width: 100%;
        padding: 0px;
    }

    .navbar li a{
        padding: 12px;
        display: none;
    }

    .navbar{
        transform: translateY(0px);
    }
}


/*---strona główna ---*/
.main:after {
    content: "";
    display: table;
    clear: both;
  }

  .main1, .main2{
   display: flex;
    align-items: stretch;
    width: 80%;
    margin: auto;
  }

  .main1{
    height: 540px;
    padding-top: 144px;
  }

  .main2{
    height: 370px;
  }

  .flexitem{
    background-color: rgb(202, 213, 233);
    border: 1px solid darkmagenta;
  }

  .flexitem2, .flexitem3{
    flex-grow: 1;
  }
  .flexitem1{
    flex-grow: 1.5;
  }

  .flexitem4, .flexitem5{
    flex: 50%;
  }

/* -- stopka -- */

footer{
    height: 300px;
    width: 100%;
    background-color: black;
    display: block;
    margin-bottom: 0px;
    position: relative;
    top: 30rem;
}

.footermain{
    display: block;
}
.footermain-left{
    float: left;
    width: 50%;
    position: relative;
    top: 60px;
}


.footerinfo-ul{
    width: 180px;
    list-style-type: none;
    padding-left: 0px;
}

.footerinfo-ul-a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.footerinfo-ul-li:hover a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.footerinfo-ul-div{
    width: 180px;
    display: block;
    padding: 0px;
    margin-top: 25px;
    margin-left: 50%;
}

.footerinfo-ul-li{
    padding: 8px;
    padding-left: 0;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.5s;

}

.footerinfo-ul-li:hover{
    color: red;
}


.footerinfo-p-div {
    display: block;
    margin-left: 50%;
}

.footerinfo-p{
    font-size: 18px;
    border-bottom: 1px solid white;
}


/*------*/
.footermain-right{
    float: right;
    width: 50%;
    position: relative;
    top: 60px;
}

.follow-p-div{
    display: block;
    margin-left: 37%;
}

.follow-p{
    font-size: 18px;
    border-bottom: 1px solid white;
}

.follow-ul-div{
    width: 180px;
    display: block;
    padding: 0px;
    margin-top: 25px;
    margin-left: 37%;
}

.follow-ul{
    width: 180px;
    list-style-type: none;
    padding-left: 0px;
}

.follow-ul-li{
    padding: 8px;
    padding-left: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.follow-ul-a{
    text-decoration: none;
}

/*--- ikonki (kolory) ---*/

.fa-brands{
    color: white;
}
.fa1-a{
    color: white;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.fa2-a{
    color: white;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.fa3-a{
    color: white;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.fa4-a{
    color: white;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.fa-youtube{
    color: red;
}
.fa1:hover .fa1-a{
    color: red;
}
.fa-instagram{
    color:#c32aa3;
}
.fa2:hover .fa2-a{
    color: #c32aa3;
}
.fa-discord{
    color: #7289d9;
}
.fa3:hover .fa3-a{
    color: #7289d9;
}
.fa4{
    color:white;
}
.fa4:hover .fa4-a{
    color:#00f2ea;
}


.mark{
    user-select: none;
    cursor: default;
}



.copyright{
    text-align: center;
    padding: 0px;
    position: relative;
    height: 0px;
    top: 100px;
    display: block;
    margin-top: 0;
    font-size: 14px;
}